.jfx-button {
    jfx-button-type: RAISED;
    -fx-background-color: #EAEAEA;
    -fx-cursor: hand;
}

.jfx-button.primary {
    jfx-button-type: RAISED;
    -fx-background-color: #4FC3F7;
    -fx-text-fill: white;
}

.jfx-text-field,
.jfx-password-field,
.jfx-text-area {
    -jfx-focus-color: #4FC3F7;
    -jfx-label-float: true;
}

.jfx-date-picker {
    -jfx-default-color: #4FC3F7;
}

.card {
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 20, 0, 0, 0);
    -fx-background-radius: 3;
}

.select-movie {
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 20, 0, 0, 0);
}

.select-movie:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
}